.player-card,
.empty-slot {
  background-color: #555;
  color: #fff;
  padding: 0 8px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.player-card:hover {
  background-color: #777;
  transform: scale(1.01);
}

.player-name {
  font-size: 16px;
}

.empty-slot {
  background-color: #444;
  border: 1px dashed #ac19d1;
  opacity: 0.5;
}
.player-crown {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-left: 8px;
  user-select: none;
}
