.container-header {
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

#root {
  margin: 0px;
}

.header {
  background-color: #333;
  color: #fff;
  height: 60px;
  padding-top: 30px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

#Name {
  float: left;
  font-size: 1.8em;
  font-weight: 700;
  color: #ac19d1;
}

nav {
  float: left;
  margin-left: 100px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: #555;
}
